Johannes Schauer Marin Rodrigues <josch@debian.org>
Johannes Schauer Marin Rodrigues <josch@debian.org> <josch@mister-muffin.de>
Johannes Schauer Marin Rodrigues <josch@debian.org> <j.schauer@email.de>
Adam Conrad <adconrad@0c3.net> <adconrad@ubuntu.com>
Adeodato Simó <adeodato@debian.org> <dato@net.com.org.es>
Ansgar Burchardt <ansgar@debian.org> <ansgar@43-1.org>
Benjamin Drung <bdrung@debian.org> <benjamin.drung@canonical.com>
Benjamin Drung <bdrung@debian.org> <benjamin.drung@profitbricks.com>
Christian Kastner <ckk@debian.org> <ckk@kvr.at>
Christian Kastner <ckk@debian.org> <debian@kvr.at>
Colin Watson <cjwatson@debian.org> <cjwatson@ubuntu.com>
Cyril Brulebois <kibi@debian.org> <cyril.brulebois@kerlabs.com>
Dima Kogan <dkogan@debian.org> <dima@secretsauce.net>
Felipe Sateler <fsateler@debian.org> <fsateler@gmail.com>
Geoffrey Thomas <geofft@mit.edu> <gthomas@mokafive.com>
Geoffrey Thomas <geofft@mit.edu> <geofft@ldpreload.com>
Jochen Sprickerhof <jspricke@debian.org> <git@jochen.sprickerhof.de>
Kees Cook <kees@ubuntu.com> <kees.cook@canonical.com>
Kees Cook <kees@ubuntu.com> <kees@outflux.net>
Maria Valentina Schauer Marin Rordrigues <marivalenm@gmail.com>
Philipp Kern <pkern@debian.org> <pkern@google.com>
Roger Leigh <rleigh@debian.org> <rleigh@codelibre.net>
Samuel Thibault <sthibault@debian.org> <samuel.thibault@ens-lyon.org>
Sebastian Andrzej Siewior <sebastian@breakpoint.cc> <bigeasy@linutronix.de>
